<div class="container">
  
<span class="glyphicon glyphicon-chevron-left"></span>
<%= link_to "Back", :back %>

    <%= form_for :session, url: sessions_path, :html => {:class => "form-signin"} do |f| %>
     <h2 class="form-sigin-heading"><span class="glyphicon glyphicon-user"></span>
      </h2>
 
      <%= f.text_field :email, class: "form-control", placeholder: "Email" %>
      <%= f.password_field :password, class: "form-control", placeholder: "Password" %>
      <%= f.submit "Sign in", class: "btn btn-large btn-primary btn-block" %>
    <% end %>

    <div class="sign-up-now"><%= link_to "New user? Sign up now.", signup_path %></div></div>

</div>