<!-- displays all of the created urls -->

<% if url.clicks == nil %>
    <% url.clicks = 0 %>
<% end %> 


<div class="display-box">
    <div class="row display-row">
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 display-info">
            <div><%= url.link.split("/")[2]%></div> 
            <div class="click-display"><%= url.clicks %> clicks</div>
        </div>
        <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
            </br>
            <a href="/go/<%= url.random_string %>">
            <div class="display-link">localhost:3000/go/<%= url.random_string %></div> 
            </a>
        </div> 
<!--         <iframe src="<%= url.link %>">
            <p>Placeholder text; only shows up if the page DOESN'T render!</p>
        </iframe> -->
    </div> 
</div>
