<%= render  partial: "form_search" %>


<div class="alert alert-warning alert-dismissable">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
  <strong>Warning!</strong> Best check yo self, you're not looking too good.
</div>


<div class="container message">
	done! </br>
	Here is your new url: </br>
	You can customize the link --- </br>

</div>

<div class="container input-group">
	<%= form_for :url, url: update_url_path(@url.random_string), :method =>"put" do |u| %>
	<span class="input-group-addon">localhost:3000/go/</span>
	<%= u.text_field :random_string %>
	<% end %>

</div>


<div class="container message">
	<a href="/go/<%= @url["random_string"] %>"> Go to it! </a>

</div>

<!-- display all of the current urls -->
<div class="container display-con">
	<%= render @urls.reverse %>
</div>
