<%= render  partial: "form_search" %>

<div class="container alert alert-warning alert-dismissable">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
	<div class="form-edit-info">
		<div class="row">
			<%= form_for :url, url: update_url_path(@url.id), :method =>"put", :class => "edit-form" do |u| %>
			<div class="cols col-xs-1 col-sm-1 col-md-2 col-lg-2">
				<span class="str-alert">It's tiny!</span>
			</div> 
			<div class="cols cols-group col-xs-4 col-sm-4 col-md-4 col-lg-4">
				<span class="input-group-addon">localhost:3000/go/</span>
			</div>
			<div class="cols cols-group col-xs-4 col-sm-4 col-md-4 col-lg-4">
				<%= u.text_field :random_string, :class => "customizable-str" %>
				<div class"row">
					<div class="customize">customize</div>
				</div>
			</div>		
			<div class="cols cols-group col-xs-1 col-sm-1 col-md-2 col-lg-2">
					<div class="goto">
							<a class= "goto-chevron" href="/go/<%= @url["random_string"]%>"> Go to it! <span class="glyphicon glyphicon-chevron-right"></span> </a>
					</div>
			</div>
		</div>
		<% end %>
	</div>

</div>


<!-- display all of the current urls -->
<div class="container display-con">
	<%= render @urls.reverse %>
</div>
